<form class="form-horizontal col-md-6">
    <fieldset>
        <legend>Edit Project</legend>
        <div class="form-group">
            <label for="inputProjectKey" class="col-lg-2 control-label">Project Key</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputProjectKey" ng-model="project.ProjectKey" value="{{project.ProjectKey}}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" ng-model="project.Name" value="{{project.Name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="textAreaDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textAreaDescription" ng-model="project.Description" value="{{project.Description}}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="selectLeaderUsername" class="col-lg-2 control-label">Leader Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="selectLeaderUsername" ng-model="project.Lead.Username"  value="{{project.Lead.Username}}" ng-disabled="isAdmin === 'false'">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLabel" class="col-lg-2 control-label">Labels</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputLabel" ng-model="labels" value="{{labels}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPriority" class="col-lg-2 control-label">Priorities</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPriority" ng-model="priorities" value="{{priorities}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" ng-click="editProject(project, labels, priorities)">Edit</button>
            </div>
        </div>
    </fieldset>
</form>