<h1 class="text-center">Issue Tracking System</h1>
<div class="row home">
    <div class="col-sm-6">
        <form class="form-horizontal" name="loginForm">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="loginEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="loginUser.userName" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginUser.password" required="required" ng-minlength="6" ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Clear</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login(loginUser)">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-sm-6">
        <form class="form-horizontal" name="registerForm">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label for="registerEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="registerEmail" placeholder="Email" ng-model="registerUser.email" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="registerPassword" placeholder="Password (at least 6 symbols)" ng-model="registerUser.password" required="required" ng-minlength="6" ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerConfirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirm Password" ng-model="registerUser.confirmPassword" required="required" ng-minlength="6" ng-maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Clear</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>