/* app css stylesheet */

.container {
  width: 80%;
}

.affiliatedProjects {
  font-size: 1.3em;
}

.projectData {
    /*font-weight: bold;*/
    margin: 2% 0%;
}

.issueData {
    /*font-weight: bold;*/
    margin: 2% 0%;
}

td {
    word-break: break-all;
}

.projects {
    font-size: 1.3em;
    margin-bottom: 2%;
}